body {
    background-color: #c6faf1;
}
.penguin {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 5%;
    width: 300px;
    height: 300px;
 }

.penguin * {
    position: absolute;
}

.penguin-top {
    top: 10%;
    left: 25%;
    background: black;
    width: 50%;
    height: 45%;
    border-radius: 70% 70% 60% 60%;
 }
.penguin-bottom {
    top: 42%;
    left: 23.5%;
    background: black;
    width: 53%;
    height: 45%;
    border-radius: 70% 70% 100% 100%;
}

.right-eye {
    top: 40%;
    left: 25%;
    background: black;
    width: 15%;
    height: 17%;
    border-radius: 50%;
    z-index: 2;
}

.right-pupil {
    top: 17%;
    left: 14%;
    background: white;
    width: 40%;
    height: 40%;
    border-radius: 50%; 
}

.left-eye {
    top: 40%;
    left: 60%;
    background: black;
    width: 15%;
    height: 17%;
    border-radius: 50%;
    z-index: 2;
}

.left-pupil {
    top: 17%;
    left: 14%;
    background: white;
    width: 40%;
    height: 40%;
    border-radius: 50%;
}

.beak-top {
	top: 64%;
    left: 42%;
    background: orange;
    width: 17%;
    height: 7%;
    border-radius: 100% 100% 100% 100%;
    z-index: 2;
}

.right-hand {
	top: 5%;
	left: 25%;
	background: black;
	width: 30%;
	height: 60%;
	z-index: -1;
	border-radius: 30% 30% 120% 30%;
	transform: rotate(130deg);
    animation-name: wave;
    animation-iteration-count: infinite;
    transform-origin:0% 0%;
    animation-timing-function: linear;
    animation-duration: 3s;
}

.left-hand {
	top: 0%;
	left: 71%;
	background: black;
	width: 30%;
	height: 60%;
	z-index: -1;
	border-radius: 30% 30% 30% 120%;
	transform: rotate(-45deg);
}

.right-feet {
	top: 85%;
	left: 20%;
	background: orange;
	width: 16%;
	height: 25%;
	z-index: -1;
	border-radius: 30% 30% 30% 65%;
	transform: rotate(80deg);
}

.left-feet {
	top: 85%;
	left: 63%;
	background: orange;
	width: 16%;
	height: 25%;
	z-index: -1;
	border-radius: 30% 30% 65% 30%;
	transform: rotate(-80deg);
}

.left-chick {
    top: 63%;
    left: 13%;
    background: pink;
    width: 15%;
    height: 9%;
    border-radius: 70% 70% 60% 60%;
    z-index: 2;
}

.right-chick {
    top: 63%;
    left: 72%;
    background: pink;
    width: 15%;
    height: 9%;
    border-radius: 70% 70% 60% 60%;
    z-index: 2;
}

.belly {
    top: 60%;
    left: 2.5%;
    background: white;
    width: 95%;
    height: 100%;
    border-radius: 120% 120% 100% 100%;
    z-index: 1;
}

.right-head-circle {
    top: 17%;
    left: 7.5%;
    background: white;
    width: 60%;
    height: 68%;
    border-radius: 120% 120% 100% 100%;
    z-index: 1;
}

.left-head-circle {
    top: 17%;
    left: 32%;
    background: white;
    width: 60%;
    height: 68%;
    border-radius: 120% 120% 100% 100%;
    z-index: 1;
}

@keyframes wave {
    10% {
        transform: rotate(110deg);
    }
    20% {
        transform: rotate(130deg);
    }
    30% {
        transform: rotate(110deg);
    }
    40% {
        transform: rotate(130deg);
    }   
    50% {
        transform: rotate(110deg);
    }
    60% {
        transform: rotate(130deg);
    }
    70% {
        transform: rotate(110deg);
    }
    80% {
        transform: rotate(130deg);
    }
    90% {
        transform: rotate(110deg);
    }
    100% {
        transform: rotate(130deg);
    }       
}